[submodule "repo/skin.fentastic"]
	path = repo/skin.fentastic
	url = https://github.com/DonkeykongArcade/skin.fentastic
[submodule "repo/plugin.video.xstream"]
	path = repo/plugin.video.xstream
	url = https://github.com/DonkeykongArcade/plugin.video.xstream.git
[submodule "repo/plugin.video.xship"]
	path = repo/plugin.video.xship
	url = https://github.com/DonkeykongArcade/plugin.video.xship.git
[submodule "repo/plugin.video.vavooto"]
	path = repo/plugin.video.vavooto
	url = https://github.com/DonkeykongArcade/plugin.video.vavooto.git
[submodule "repo/plugin.video.iptv.recorder"]
	path = repo/plugin.video.iptv.recorder
	url = https://github.com/DonkeykongArcade/plugin.video.iptv.recorder.git
