[submodule "repo/skin.fentastic"]
	path = repo/skin.fentastic
	url = https://github.com/DonkeykongArcade/skin.fentastic
[submodule "repo/plugin.video.iptv.recorder"]
	path = repo/plugin.video.iptv.recorder
	url = https://github.com/DonkeykongArcade/plugin.video.iptv.recorder.git
